<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="mi-producto">
         <property
               name="appName"
               value="mi-producto">
         </property>
         <property
               name="windowImages"
               value="icons/NASTRAN-EDITOR_16x16_24bits.png,icons/NASTRAN-EDITOR_32X32_24bits.png,icons/NASTRAN-EDITOR_48x48-24bits.png,icons/NASTRAN-EDITOR_64x64.png,icons/NASTRAN-EDITOR_128x128.png,icons/NASTRAN-EDITOR_256x256.png">
         </property>
         <property
               name="preferenceCustomization "
               value="prefs/plugin_customization.ini">
         </property>
      </product>
   </extension>


</plugin>
